@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.noto-serif-font{
  font-family: "Noto Serif", serif;
}
.inter-font {
  font-family: "Inter", sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}
.heading{
    font-size: 50px;
    font-weight: 700;
}
.paragraph{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}
.span-text{
    color: rgba(233, 90, 8, 1);
}
.list-item{
    margin-top: 20px;
}
.flower-container{
    gap: 60px;
}
.badge{
    width: 286px;
    height: 286px;
    position: absolute;
    top: -100px;
    right: -90px;
    filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25) );
}
.image-container{
    position: relative;
}
.section-gap{
    margin-top: 60px;
}

.deals-heading{
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.deals-heading p{
    text-align: center;
}
.card-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 28px;
    margin-top: 120px;
}
.card{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 16px;
    height: 200px;
    border-radius: 15px;
}
.card span{
    text-decoration: underline;
}
.bloom{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(images/deal-bloom.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.ana{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(images/deal-ana.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.zabo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(images/deal-zabo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 2/3;
    grid-row: 1/3;
    height: 100%;
}
.newsletter-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/news-letter-bg.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
}
.newsletter-section h2{
    color: white;
}
.submission-box{
    display: flex;
    width: 60%;
}
.submission-box button{
    background-color: rgba(233, 90, 8, 1);
    padding: 20px 50px ;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: none;
}
.submission-box input[type="email"]{
    width: 100%;
    padding: 8px 20px;
    outline: none;
}
.submission-box input[type="email"]::placeholder{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width:576px) {
    .flower-container{
      flex-direction: column; 
      gap: 18px;
    }
    .store{
        width: 100%;
    }
    .badge{
        display: none;
    }
    .heading{
        font-size: 24px;
        margin: 0;
    }
    br{
        display: none;
    }
    .paragraph{
        font-size: 14px;
    }
    .list-item{
        margin-top: 16px;
    }
    .card-container{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 46px;
    }
    .card{
        height: 206px;
    }
    .zabo{
        grid-column: auto;
        grid-row: auto;
    }
    .submission-box button {
        padding: 8px 20px;
    }
    .newsletter-section h2{
        font-size: 20px;
    }
}